html,
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.join__outerContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #1a1a1d;
}

.join__innerContainer {
  width: 20%;
}

.join__input {
  color: white !important;
  border-radius: 5px;
  margin-bottom: 10px !important;
  width: 100%;
}

.join__heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.join__signIn {
  color: #fff !important;
  background-color: #2979ff !important;
  border-radius: 5px !important;
  padding: 10px 0px !important;
  margin-top: 20px !important;
}

.join__signIn > .label {
    text-decoration: none !important;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .join__outerContainer {
    height: 100%;
  }

  .join__innerContainer {
    width: 90%;
  }
}
